header {
  height: 520px;
  width: 100%;
  padding-top: 120px;
  background-color: #b4b415;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

header img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

header h2 {
  margin-top: 20px;
  text-align: center;
}