nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
}

nav span {
  font-family: "Bungee", sans-serif;
}

nav .nav-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav .nav-content .write-tweet {
  margin-right: 10px;
}

nav .nav-content .angle-icon {
  font-size: 18px;
}
