.div1 {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 40px;
}

.error-message {
  color: red;
}

.label1 {
  padding-bottom: 20px;
  display: flex;
}

.textarea1{
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  background-color: #f4f1ec;
}

form button[type="submit"] {
  height: 30px;
  width: 10%;
  background-color: blue;
  color: white;
  font-family: "Bungee", sans-serif;
  display: flex;
  flex-direction: row;
  flex-basis: content;
}

output {
  font-family: "Bungee", sans-serif;
  font-size: 33px;
  text-align: center;
  justify-content: flex-end;
}

.invalid {
  color: red;
}